<% if @transactions.length == 0 %>
  <div><strong><span style="color: #ff0000; font-size: 12pt;">
    <%= p 'Você ainda não possui transações cadastradas!' %>
  </span></strong></div>
<% else %>
  <p><%= p ' Transações Cadastradas:' %></p>
<% end %>