<p>
<% if !@transaction.errors.full_messages.empty? %>
  <div><strong><span style="color: #ff0000; font-size: 12pt;">
    <%= 'Você deve informar todos os dados da transação' %>
  </span></strong></div>
<% end %>
</p>