/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.notice, .error, .warning, .info {
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: -10px 0 15px 0;
  padding: 5px 5px 5px 27px;
}

.notice {
  border: 1px solid #9c9;
  background: #e2f9e3 url('tick.png') no-repeat 5px center;
  color: #060;
}

.error {
  border: 1px solid #c68484;
  background: #fcc url('cross.png') no-repeat 5px center;
  color: #c00;
}

.warning {
  border: 1px solid #dd0;
  background: #ffc url('error.png') no-repeat 5px center;
  color: #000;
}

.info {
  border: 1px solid #82c2d4;
  background: #ebf5f8 url('information.png') no-repeat 5px center;
  color: #000;
}